[Unit]
Description=Save iptable rules
DefaultDependencies=no
Before=reboot.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/sh -c "iptables-save > /etc/iptables/iptables.rules"

[Install]
WantedBy=reboot.target
