[Unit]
Description=Flash Host Bios image %I to Host

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart="mv /tmp/image/%i/image-bios /tmp/image-bios; /usr/bin/bios-update.sh"