[Unit]
Description=Intel BMC PSU Cold Redundancy
After=dbus.service
After=xyz.openbmc_project.EntityManager.service

[Service]
Restart=always
RestartSec=5
StartLimitBurst=10
ExecStart=/usr/bin/env psuredundancy
SyslogIdentifier=psuredundancy

[Install]
WantedBy=multi-user.target
