[Unit]
Description=OpenBMC Fan Control Daemon
After=obmc-chassis-poweron@0.target

[Service]
Type=simple
ExecStartPre=/usr/bin/env mapper wait /xyz/openbmc_project/sensors/temperature/cpu0_core0_temp
ExecStart=/usr/bin/swampd
Restart=always
RestartSec=5
StartLimitInterval=0
ExecStopPost=/usr/bin/fan-default-speed.sh

