[Unit]
Description=IPMI SEL Logging Service
Wants=rsyslog.service
After=rsyslog.service

[Service]
Restart=always
ExecStart=/usr/bin/sel-logger
Type=simple

[Install]
WantedBy=multi-user.target
