[Unit]
Description=Phosphor-ipmi-flash verify BISO service

[Service]
ExecStart=/usr/sbin/bios-verify.sh
SyslogIdentifier=bios-verify.sh
Type=oneshot

[Install]
RequiredBy=phosphor-ipmi-flash-bios-verify.target
