[Unit]
Description=Phosphor-ipmi-flash bmc verify service

[Service]
ExecStart=/usr/sbin/bmc-verify.sh
SyslogIdentifier=bmc-verify.sh
Type=oneshot

[Install]
RequiredBy=phosphor-ipmi-flash-bmc-verify.target
