[Unit]
Description=Check Host%i status on BMC reset
Wants=phosphor-ipmi-host.service
After=phosphor-ipmi-host.service
Wants=obmc-host-reset-running@%i.target
Before=obmc-host-reset-running@%i.target
Wants=op-reset-chassis-on@%i.service
After=op-reset-chassis-on@%i.service
Conflicts=obmc-host-stop@%i.target
ConditionPathExists=/run/openbmc/chassis@%i-on

[Service]
RemainAfterExit=yes
Type=oneshot
ExecStartPre=/usr/bin/env mapper wait /xyz/openbmc_project/object_mapper
ExecStartPre=/usr/bin/env mapper wait /xyz/openbmc_project/control/host0
ExecStart=/usr/bin/phosphor-host-check

[Install]
WantedBy=obmc-host-reset@%i.target
